.custom-info-faq-text {
    font-size: 18px; 
    color: white; 
    line-height: 1.6; 
    margin-bottom: 16px; 
  }
  
  .custom-info-faq-text p {
    margin-bottom: 16px;
    margin-right: 10px;
    font-size: 20px;
  }

  .ab1,
  .ab2,
  .ab3,
  .ab4,
  .ab5,
  .ab6,
  .ab7,
  .ab8,
  .ab9 {
    color: var(--color-crimson-200);
  }

  .g1 {
    font-weight: bold;
    text-align: center;
    font-size: 18px; 
    color: white; 
    line-height: 1.6; 
    margin-bottom: 16px; 
  }