.custom-info-about-text {
  font-size: 18px; 
  color: white; 
  line-height: 1.6; 
  margin-bottom: 16px; 
}

.custom-info-about-text p {
  margin-bottom: 16px;
  margin-right: 10px;
  font-size: 20px;
}

.ab1,
.ab2 {
  color: var(--color-crimson-200);
}

.g1 {
  font-weight: bold;
  font-size: 18px; 
  color: white; 
  line-height: 1.6; 
  margin-bottom: 16px; 
}