.g01bet,
.g01bet1 {
  position: relative;
  font-weight: 500;
}
.g01bet {
  align-self: stretch;
}
.g01bet1 {
  flex-shrink: 0;
}
.free-icon-font-angle-left-39161 {
  height: 65.7px;
  width: 67.8px;
  border-radius: var(--br-21xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  cursor: pointer;
  
}
.free-icon-font-angle-left-3916-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.free-icon-font-angle-left-3916-wrapper img {
  transition: transform 0.2s ease; 
}

.free-icon-font-angle-left-3916-wrapper img:hover {
  transform: scale(1.1); 
}
.g01bet-group,
.legal-info {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.g01bet-group {
  width: 545px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.legal-info {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
  box-sizing: border-box;
}
.copyright,
.g01bet-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.g01bet-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-8xs);
}
.copyright {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-11xl-9) var(--padding-12xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
