.euro-cup,
.instance-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.instance-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-smi);
}
.euro-cup {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) var(--padding-49xl-1) var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 800px) {
  .euro-cup {
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
}
